.container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    margin: auto;
    height: 80%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        align-items: center;
        margin-right: 40px;

        img {
            height: 150px;
            width: 150px;
        }

        .content {
            padding: 2px 16px;
            padding-bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            align-content: center;


            button {
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                box-shadow: none;
                color: black;
                background-color: white;
                width: 20vw;
                font-size: 1.4em;
                margin: auto;
                border-radius: 50px;
                height: 40px;
                transition-duration: 0.4s;
                height: 80px;
                width: 80px;
                font-weight: bold;
                text-align: center;
            }

            button:hover {
                background-color: black;
                color: white;
                cursor: pointer;
            }

        }
    }
}