<div class="container">
  <div class="scrollmenu" id="scrollbar">
    <div class="card">
        <img src="../../../assets/img_avatar.png" alt="Avatar" />
      <div class="content">
        <h4><b>Başkanlık Seçimi</b></h4>
        <p>Genel</p>
        <a href="election"><button>Oyla</button></a>
      </div>
    </div>
    <div class="card">
        <img src="../../../assets/img_avatar.png" alt="Avatar" />
      <div class="content">
        <h4><b>Başkanlık Seçimi</b></h4>
        <p>Genel</p>
        <a href="election"><button>Oyla</button></a>
      </div>
    </div>
    <div class="card">
        <img src="../../../assets/img_avatar.png" alt="Avatar" />
      <div class="content">
        <h4><b>Başkanlık Seçimi</b></h4>
        <p>Genel</p>
        <a href="election"><button>Oyla</button></a>
      </div>
    </div>
    <div class="card">
        <img src="../../../assets/img_avatar.png" alt="Avatar" />
      <div class="content">
        <h4><b>Başkanlık Seçimi</b></h4>
        <p>Genel</p>
        <a href="election"><button>Oyla</button></a>
      </div>
    </div>
    <div class="card">
        <img src="../../../assets/img_avatar.png" alt="Avatar" />
      <div class="content">
        <h4><b>Başkanlık Seçimi</b></h4>
        <p>Genel</p>
        <a href="election"><button>Oyla</button></a>
      </div>
    </div>
    <div class="card">
        <img src="../../../assets/img_avatar.png" alt="Avatar" />
      <div class="content">
        <h4><b>Başkanlık Seçimi</b></h4>
        <p>Genel</p>
        <a href="election"><button>Oyla</button></a>
      </div>
    </div>
  </div>
</div>
