
.example-spacer {
    flex: 1 1 auto;
}
span{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin: 0px 20px;
}

.container{
    width: 90%;
    height: auto;
    margin: auto;
}
