.main-component {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-image: url("../../../assets/blockchain.jpg");
    opacity: 1;

    h1 {
        font-size: 100px;
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    button {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        box-shadow: none;
        color: black;
        background-color: white;
        width: 80vw;
        justify-content: center;
        align-items: center;
        max-width: 300px;
        font-size: 1.3em;
        margin: auto;
        border-radius: 15px;
        height: 60px;
        transition-duration: 0.4s;
    }

    button:hover {
        background-color: black;
        color: white;
        cursor: pointer;
    }
}